{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.origin(class="", 
                           placeholder=form.origin.label()) }}
            {{ form.destination(class="", 
                                placeholder=form.destination.label()) }}

            {{ form.submit(class="")  }}
        </form>
    </div>
    {% include 'map.html' %}
{% endblock %}
