{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <body>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="container">
                <div class="row">
                    <p class="col-md-1">From:</p>
                    <div class="col-md-4">
                        {{ form.origin(class="form-select") }}
                    </div>
                    <p class="col-md-1">To:</p>
                    <div class="col-md-4">
                        {{ form.destination(class="form-select") }}
                    </div>
                    <div class="col-md-2">
                        {{ form.submit(class="btn btn-primary")  }}                        
                    </div>
                </div>
            </div>
        </form>
    </body>

{% endblock %}