<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_1d668b423353d3c55f209a152e73943f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_1d668b423353d3c55f209a152e73943f" ></div>
        
</body>
<script>
    
    
            var map_1d668b423353d3c55f209a152e73943f = L.map(
                "map_1d668b423353d3c55f209a152e73943f",
                {
                    center: [48.463198, -123.311886],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_daba882f3af5c7656c6353fb800b8d30 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_14dc89ac3df805d5c328f99d8d361f49 = L.polyline(
                [[48.4637512, -123.314006], [48.4637478, -123.31399]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_d178b1ea7d82852446a85d506c595776 = L.polyline(
                [[48.4637478, -123.31399], [48.4635647, -123.3139488]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_4879179f909bb414c31b65f9999d3f82 = L.polyline(
                [[48.4635647, -123.3139488], [48.4635608, -123.3140074]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_cbb18e8ee0a91bb6b94f97353a770b48 = L.polyline(
                [[48.4635608, -123.3140074], [48.4635173, -123.3146014]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_93be7f93b12ebbd85a5476c07db3c743 = L.polyline(
                [[48.4635173, -123.3146014], [48.463499, -123.3147892]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_e65041febe09f264d4e477f305d04573 = L.polyline(
                [[48.463499, -123.3147892], [48.4634863, -123.314951], [48.4634299, -123.3150315]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_6c91fad80c94a767ecd1453bf7e49eba = L.polyline(
                [[48.4634299, -123.3150315], [48.4633622, -123.3151134]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_cfd4f538b57bfeb02f10c02a3cca2a4c = L.polyline(
                [[48.4633622, -123.3151134], [48.4631687, -123.315274]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_f9f67028c255dcc09f76c053bc32ac27 = L.polyline(
                [[48.4631687, -123.315274], [48.4631841, -123.3153142], [48.4631841, -123.3153607], [48.4631687, -123.3154009], [48.463142, -123.3154242], [48.4631112, -123.3154243], [48.4630845, -123.315401]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_c8eb6d3c496dc44176707efbee5f7156 = L.polyline(
                [[48.4630845, -123.315401], [48.4629733, -123.3155501]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_c31bd7eda9d8f86717cb7c14a8d71359 = L.polyline(
                [[48.4629733, -123.3155501], [48.4629048, -123.3156511], [48.4628695, -123.3160933]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_3df3dfeac51351db86663f1cef1b84cb = L.polyline(
                [[48.4628695, -123.3160933], [48.4628035, -123.3160927], [48.4627182, -123.3161099]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_33be4d753480e662dc7f3a2c13a1d225 = L.polyline(
                [[48.4627182, -123.3161099], [48.4626197, -123.3161262], [48.4624884, -123.3161114], [48.4623823, -123.3160834], [48.4622742, -123.3160374], [48.4622089, -123.3160074]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_570e3af1d7399ff95cd32a565032f20c = L.polyline(
                [[48.4622089, -123.3160074], [48.4621461, -123.315974], [48.4620854, -123.3159182], [48.4620204, -123.3158483], [48.4619867, -123.3158448]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_b8271bd08980784af62ad7f68c88d3dc = L.polyline(
                [[48.4619867, -123.3158448], [48.4619635, -123.3158335], [48.4619342, -123.3158129], [48.4618272, -123.3157119]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_27c78c74a045e27710da0c27afc6c8d2 = L.polyline(
                [[48.4618272, -123.3157119], [48.4618088, -123.3156955], [48.4617395, -123.3156578], [48.4616947, -123.3156402], [48.4616378, -123.3156298], [48.4616052, -123.3156072]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_2f1e7ff1fe3c910a01315b31f3dc4d45 = L.polyline(
                [[48.4616052, -123.3156072], [48.4615241, -123.3155288], [48.4613936, -123.3153823], [48.4612921, -123.3152542], [48.4612039, -123.3151327], [48.4611492, -123.3150479]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_ccbf6955b0ec5f722a57ee14673ce73b = L.polyline(
                [[48.4611492, -123.3150479], [48.461337, -123.3149256]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_71f7aadf480fa151a7896dab91667e35 = L.polyline(
                [[48.461337, -123.3149256], [48.4613772, -123.314922]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_bdd152223189372d7e1bd22184718f32 = L.polyline(
                [[48.4613772, -123.314922], [48.4614197, -123.3148667], [48.4614549, -123.3147916], [48.4614944, -123.3147011], [48.4615105, -123.3145972], [48.4615003, -123.3145332], [48.4614798, -123.3144581], [48.4614798, -123.3143542], [48.4615179, -123.3142504], [48.4615823, -123.3141753], [48.4616482, -123.3140671], [48.4617112, -123.3139853], [48.4617347, -123.3139279], [48.461742, -123.3138373], [48.4617329, -123.3137654]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_f84823e4b78029bb00d1651298c3e74e = L.polyline(
                [[48.4617329, -123.3137654], [48.4617204, -123.3136667], [48.4617157, -123.31364]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_5e42f2b6d0acbe9ed5d80d9d118d79d7 = L.polyline(
                [[48.4617157, -123.31364], [48.4617948, -123.3135905], [48.4618445, -123.3135548], [48.4619024, -123.313493], [48.4621778, -123.3131858], [48.4622022, -123.3131119]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_d9562a8c7c9fd7d94d73be575f37cade = L.polyline(
                [[48.4622022, -123.3131119], [48.4620813, -123.3130924], [48.4616503, -123.313039]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_c3abc223ede92fe5db9e44195da1eef6 = L.polyline(
                [[48.4616503, -123.313039], [48.4615013, -123.3129555], [48.46149, -123.3129062], [48.4614712, -123.3128652], [48.4614646, -123.3128114], [48.4614571, -123.3127463], [48.4614468, -123.3126855], [48.4614478, -123.3125567], [48.4614421, -123.3124435], [48.4614252, -123.3123416], [48.4613783, -123.3122369], [48.4613586, -123.3121647], [48.4613427, -123.3120742], [48.4613445, -123.3119879], [48.4613646, -123.311906]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_288979b943037ee1abf630bed7feedad = L.polyline(
                [[48.4613646, -123.311906], [48.4613415, -123.3118745]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_def19a29639163b3e7f3486af516610d = L.polyline(
                [[48.4613415, -123.3118745], [48.4612638, -123.3118575]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            var poly_line_bdba0d0f074115e07ad0068e170e31ed = L.polyline(
                [[48.4612638, -123.3118575], [48.4612784, -123.3116467]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_1d668b423353d3c55f209a152e73943f);
        
    
            map_1d668b423353d3c55f209a152e73943f.fitBounds(
                [[48.4611492, -123.3161262], [48.4637512, -123.3116467]],
                {}
            );
        
</script>
</html>