<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0d4eed7f068b3c4c2df852a2ea70c578 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_0d4eed7f068b3c4c2df852a2ea70c578" ></div>
        
</body>
<script>
    
    
            var map_0d4eed7f068b3c4c2df852a2ea70c578 = L.map(
                "map_0d4eed7f068b3c4c2df852a2ea70c578",
                {
                    center: [48.463198, -123.311886],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_59c4e03292728374fbf58ae046f2b954 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_b023bb9dfe7436298a83ca5806df292e = L.polyline(
                [[48.4647037, -123.3141525], [48.464708, -123.3140996]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_e848f9be319a7c748801e1549e4cd8ea = L.polyline(
                [[48.464708, -123.3140996], [48.4647143, -123.3140197]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_7f0028c05f4d3f3fae6ae1f3d3faa4db = L.polyline(
                [[48.4647143, -123.3140197], [48.4647316, -123.3137992]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_b9b2e983022e0f64375bc182c1e7f48c = L.polyline(
                [[48.4647316, -123.3137992], [48.4645801, -123.3137432], [48.4645252, -123.3137667]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_35401bf35a342567d51873a18620cc0f = L.polyline(
                [[48.4645252, -123.3137667], [48.4645368, -123.3136334]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_529db3c39ad416f727f5909ec4ca49b4 = L.polyline(
                [[48.4645368, -123.3136334], [48.464546, -123.3134895]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_b3fd9551be10149774b4b5f2a8d79331 = L.polyline(
                [[48.464546, -123.3134895], [48.4645636, -123.3132489]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_3d481644f106472551e81211f927b8f3 = L.polyline(
                [[48.4645636, -123.3132489], [48.4645718, -123.3131117]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_401cb2d7d98c9dd4af8c5b2033d678da = L.polyline(
                [[48.4645718, -123.3131117], [48.4645396, -123.3130715]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_3ab514ca14daf15e9b0f6669fe77afda = L.polyline(
                [[48.4645396, -123.3130715], [48.4645385, -123.3130167]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_79a8c3ee1acd81f56a1e7546f2260df2 = L.polyline(
                [[48.4645385, -123.3130167], [48.4645653, -123.3127064]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_437cf5c47229e8313ac129943b30b4e6 = L.polyline(
                [[48.4645653, -123.3127064], [48.4645744, -123.312566]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_fd5fb561d47e4b08add8a5024eeebdf7 = L.polyline(
                [[48.4645744, -123.312566], [48.4645835, -123.3124239]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_68b0fe2833b556575a3a471e5977ba3f = L.polyline(
                [[48.4645835, -123.3124239], [48.4647754, -123.312458]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            var poly_line_45e119673a8541d774491966fa091f5f = L.polyline(
                [[48.4647754, -123.312458], [48.4649107, -123.3124842], [48.4649464, -123.312479]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0d4eed7f068b3c4c2df852a2ea70c578);
        
    
            map_0d4eed7f068b3c4c2df852a2ea70c578.fitBounds(
                [[48.4645252, -123.3141525], [48.4649464, -123.3124239]],
                {}
            );
        
</script>
</html>