<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0feae06c78518155a051a2e484c2c1ad {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_0feae06c78518155a051a2e484c2c1ad" ></div>
        
</body>
<script>
    
    
            var map_0feae06c78518155a051a2e484c2c1ad = L.map(
                "map_0feae06c78518155a051a2e484c2c1ad",
                {
                    center: [48.463198, -123.311886],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_34a6f924cb698e02d3c9e1f1b2e4d189 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_ffbd0a4cf3f73aa6d61e994d8147258b = L.polyline(
                [[48.4624239, -123.3101437], [48.4622874, -123.3104978]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_62ed38f5c957925c5bc8dbd3eb7490da = L.polyline(
                [[48.4624239, -123.3101437], [48.4626438, -123.3101816]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_c544c2df5062a457b8697d99bee39be7 = L.polyline(
                [[48.4624239, -123.3101437], [48.4623643, -123.3101324]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_8b3a27e0acf4e0bb753dd00c3abb946d = L.polyline(
                [[48.4624596, -123.3109763], [48.4623862, -123.3107868]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_bab6da7997218706940b06fae022a1cb = L.polyline(
                [[48.4624596, -123.3109763], [48.4623908, -123.3109838], [48.4623022, -123.3109817], [48.462224, -123.311058], [48.4621105, -123.3111228]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_7b1ac10c35185ca200f61c1c09c69e10 = L.polyline(
                [[48.4624596, -123.3109763], [48.4625633, -123.3112249], [48.4627458, -123.3117276]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_c7764fb8a7b9470131f5b50f6c063e06 = L.polyline(
                [[48.462382, -123.3121997], [48.4624658, -123.3122218]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_341b39e90529f8a70906ca368f5c0341 = L.polyline(
                [[48.462544, -123.3120852], [48.4624658, -123.3122218]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_de507d2ff5fd5ff1289f844be4734bae = L.polyline(
                [[48.462544, -123.3120852], [48.4625568, -123.3120831]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_a204fca716d8972829ff364d5a1662e4 = L.polyline(
                [[48.462544, -123.3120852], [48.4623807, -123.3120563]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_a5fd79403b1ec78619d4234d23e58fb2 = L.polyline(
                [[48.4627458, -123.3117276], [48.463265, -123.3108073]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_dd326f78f8d78bbcb03e0e8ca27eee4e = L.polyline(
                [[48.4627458, -123.3117276], [48.4629513, -123.3121051]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_ee8be0b36f5092cdd9690a034734d162 = L.polyline(
                [[48.4627458, -123.3117276], [48.4625568, -123.3120831]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_a0f43a8bd57cbe22c9bb4c57682b47ab = L.polyline(
                [[48.4627458, -123.3117276], [48.4625633, -123.3112249], [48.4624596, -123.3109763]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_fd74bd6de25916bc7e4f3ddd4107b991 = L.polyline(
                [[48.4627642, -123.3108476], [48.4625996, -123.3108169]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_f9e746a28b11052dd29eb4b3c88fc226 = L.polyline(
                [[48.4628399, -123.310215], [48.4626438, -123.3101816]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_777f3de31c7a40178bfbbcb940f1f572 = L.polyline(
                [[48.4629513, -123.3121051], [48.4627458, -123.3117276]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_ecce604ac327e77efbe169a5490d6c89 = L.polyline(
                [[48.4620999, -123.3101505], [48.46211, -123.3100839]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_f3b7f7941fbdcb5f39aaaf5fa78085ae = L.polyline(
                [[48.4620999, -123.3101505], [48.4621004, -123.310255]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_a8477422b0d515f6894cf747e00ef2eb = L.polyline(
                [[48.463265, -123.3108073], [48.4627458, -123.3117276]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_157ec002e5602af4576b50e5ae06a116 = L.polyline(
                [[48.462238, -123.313799], [48.4622289, -123.3139593]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_6d3f4f5d6ed2757f64b612875e93fa3d = L.polyline(
                [[48.462238, -123.313799], [48.4622755, -123.3133695], [48.4622922, -123.3131279]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_7df7bba1e65f5f620a29560c81b8ae2f = L.polyline(
                [[48.462238, -123.313799], [48.4624013, -123.313832], [48.4623959, -123.3138999]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_6a58a82e783de4f81a61bc19ae2b2048 = L.polyline(
                [[48.4622289, -123.3139593], [48.462238, -123.313799]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_f5a5721d1505d48874babd56d9769597 = L.polyline(
                [[48.4622289, -123.3139593], [48.4623889, -123.3139881], [48.4623959, -123.3138999]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_c07e4e251ce38cd08ce2fe3eee8ecb22 = L.polyline(
                [[48.4622022, -123.3131119], [48.4622777, -123.3131239]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_545799274dffecee2daa2159dd51afdd = L.polyline(
                [[48.4626381, -123.3102391], [48.4626438, -123.3101816]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_e409c2932c5f6c964eb15fd42665f1af = L.polyline(
                [[48.4623807, -123.3120563], [48.462544, -123.3120852]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_1057144671d749629149ac13359f0402 = L.polyline(
                [[48.4625568, -123.3120831], [48.4626693, -123.3120812]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_924571e191ce8c8659d0c6c9fe93d516 = L.polyline(
                [[48.4625568, -123.3120831], [48.462544, -123.3120852]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_eb6bb7535a834be215a3e1e572662b8a = L.polyline(
                [[48.4625568, -123.3120831], [48.4627458, -123.3117276]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_6cb3d42369ed2129dba621b69af85568 = L.polyline(
                [[48.4626057, -123.3107687], [48.4625996, -123.3108169]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_eecaad015041ee6b7d7b9512a14cf0a1 = L.polyline(
                [[48.4624658, -123.3122218], [48.462544, -123.3120852]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_9aac3e4b40a0c719ea35ce36f44674a3 = L.polyline(
                [[48.4624658, -123.3122218], [48.462382, -123.3121997]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_583ae237cf9296f3c0f78c73faab6dc2 = L.polyline(
                [[48.4624658, -123.3122218], [48.4624542, -123.3122718], [48.4624181, -123.312386], [48.4623836, -123.3125238], [48.4623619, -123.3126873]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_a4fced299c525dd0374d6b3231b60d65 = L.polyline(
                [[48.4626693, -123.3120812], [48.4625568, -123.3120831]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_35695ef05899a3350be36d2e430cbc41 = L.polyline(
                [[48.4625996, -123.3108169], [48.4623862, -123.3107868]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_3ca1f10ff68b0e97bcd91668ff876494 = L.polyline(
                [[48.4625996, -123.3108169], [48.4627642, -123.3108476]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_9fb2eb9d30a464c0cc17ef93effba8a2 = L.polyline(
                [[48.4625996, -123.3108169], [48.4626057, -123.3107687]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_3e7531ae1c09f9fce1e7222f513c97f2 = L.polyline(
                [[48.4626438, -123.3101816], [48.4628399, -123.310215]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_0c52106fed7f66f273aa2c1a81bfb9c5 = L.polyline(
                [[48.4626438, -123.3101816], [48.4624239, -123.3101437]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_7e5f3a6e8ab6814ad73c5434457436a0 = L.polyline(
                [[48.4626438, -123.3101816], [48.4626612, -123.3099692]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_8572b682dbb629fa18d8ccd6a57504d5 = L.polyline(
                [[48.4626438, -123.3101816], [48.4626381, -123.3102391]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_50da616066467004424f978c3a39fda9 = L.polyline(
                [[48.4626612, -123.3099692], [48.4626438, -123.3101816]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_eaddb565cb3f1b413c7be31b9e25ce84 = L.polyline(
                [[48.4621004, -123.310255], [48.462268, -123.3102608]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_a37e52451799a547d6e78607f504fb0b = L.polyline(
                [[48.4621004, -123.310255], [48.4620999, -123.3101505]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_84db3f33f64727a28f7e31205aa8e1c4 = L.polyline(
                [[48.4621004, -123.310255], [48.4621753, -123.3104307]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_c7cfd8700659470ee98e550716764d26 = L.polyline(
                [[48.4621105, -123.3111228], [48.4621342, -123.3110263], [48.4621727, -123.310893], [48.4621956, -123.3107496]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_5ce2ee5cf5634f0e7bfade936b1324de = L.polyline(
                [[48.4621105, -123.3111228], [48.462224, -123.311058], [48.4623022, -123.3109817], [48.4623908, -123.3109838], [48.4624596, -123.3109763]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_7d139868e002752995914a5c7d7ebdde = L.polyline(
                [[48.46211, -123.3100839], [48.4623643, -123.3101324]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_b379b4a2213a778b48fb5ee148de6ed1 = L.polyline(
                [[48.46211, -123.3100839], [48.4620999, -123.3101505]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_175254a6092a502be5c397a58fcd9a5c = L.polyline(
                [[48.4621753, -123.3104307], [48.4622416, -123.3103404]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_b98bce5f54b19b8a23a57c6eaf0c327a = L.polyline(
                [[48.4621753, -123.3104307], [48.4621004, -123.310255]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_3e6e40ebd6a060e4289d6c2577704bf6 = L.polyline(
                [[48.4621753, -123.3104307], [48.4621963, -123.3104793]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_3530fc804da7f203da4971f119420e0e = L.polyline(
                [[48.4621963, -123.3104793], [48.4622297, -123.3104861]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_67b3286f1d74c11b17ef8f78d98b46fb = L.polyline(
                [[48.4621963, -123.3104793], [48.4621753, -123.3104307]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_75c26ae420a1f4d2f47150062e328298 = L.polyline(
                [[48.4621956, -123.3107496], [48.4622297, -123.3104861]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_29f5e0a8d586675a81a90fe068527db8 = L.polyline(
                [[48.4621956, -123.3107496], [48.4623862, -123.3107868]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_640d0ad924ef0d1aaca2b139e099b6a2 = L.polyline(
                [[48.4621956, -123.3107496], [48.4621727, -123.310893], [48.4621342, -123.3110263], [48.4621105, -123.3111228]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_6d52a3dd1da969e0785f4bd7b200ef3c = L.polyline(
                [[48.4622297, -123.3104861], [48.4621956, -123.3107496]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_0fb9c62a4b0d8a77091dfd8d4a418296 = L.polyline(
                [[48.4622297, -123.3104861], [48.4622416, -123.3103404]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_e0a628c3a737e5f803b43a2b7ec1115f = L.polyline(
                [[48.4622297, -123.3104861], [48.4622874, -123.3104978]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_f43fc7a84f79e8e34613357b7c6f4ce6 = L.polyline(
                [[48.4622297, -123.3104861], [48.4621963, -123.3104793]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_d027d29ec3951fb4c3cefa1428c01b26 = L.polyline(
                [[48.4623862, -123.3107868], [48.4621956, -123.3107496]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_337b010156d50d0fc330555f966da66d = L.polyline(
                [[48.4623862, -123.3107868], [48.4625996, -123.3108169]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_16843446a1cba2e394f44c6820962ef8 = L.polyline(
                [[48.4623862, -123.3107868], [48.4624596, -123.3109763]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_e06d9c942bd42518564ce57a0cb97a90 = L.polyline(
                [[48.4623862, -123.3107868], [48.4622874, -123.3104978]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_dc69434fb0abb1ed38df201502cf20d9 = L.polyline(
                [[48.4622416, -123.3103404], [48.4622297, -123.3104861]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_0b0546ea5473b811e9942d0a05aeb42b = L.polyline(
                [[48.4622416, -123.3103404], [48.4621753, -123.3104307]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_72245e1332403279bc0cc88b13e4b2f2 = L.polyline(
                [[48.4622416, -123.3103404], [48.462268, -123.3102608]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_c51396fb794aeb51d23936fdf3a2a810 = L.polyline(
                [[48.462268, -123.3102608], [48.4621004, -123.310255]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_6efc872c423a886206cc4d2ad0938c35 = L.polyline(
                [[48.462268, -123.3102608], [48.4622416, -123.3103404]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_f5bc26ad9467762c5073d22c56d30231 = L.polyline(
                [[48.462268, -123.3102608], [48.4623643, -123.3101324]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_feb136a68f6c2359fedb7dbc2ce63244 = L.polyline(
                [[48.4622874, -123.3104978], [48.4622297, -123.3104861]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_1be7cbcce6f4d4aa2e757ecd8a348adb = L.polyline(
                [[48.4622874, -123.3104978], [48.4623862, -123.3107868]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_3daa1b2a9f7195013d868e3414a89c39 = L.polyline(
                [[48.4622874, -123.3104978], [48.4624239, -123.3101437]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_42a79bd648cf062e156363e3ce8f908f = L.polyline(
                [[48.4622922, -123.3131279], [48.4622777, -123.3131239]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_07f2d5f386799b226562ea42aa85d7b5 = L.polyline(
                [[48.4622922, -123.3131279], [48.4623249, -123.3130966], [48.4623619, -123.3126873]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_8f3973d873ff337adfbf6116c3b06bfb = L.polyline(
                [[48.4622922, -123.3131279], [48.4622755, -123.3133695], [48.462238, -123.313799]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_3df42ea2344166b3711d698001d156c7 = L.polyline(
                [[48.4623959, -123.3138999], [48.4624918, -123.3139363]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_0f65cb6ccfa4de42f366f06e016396a6 = L.polyline(
                [[48.4623959, -123.3138999], [48.4624013, -123.313832], [48.462238, -123.313799]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_791cffccdb5d98b891a0d4d8258f74f3 = L.polyline(
                [[48.4623959, -123.3138999], [48.4623889, -123.3139881], [48.4622289, -123.3139593]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_13746849508a0111e9ff1f75bf4bdb7a = L.polyline(
                [[48.4624918, -123.3139363], [48.4623959, -123.3138999]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_b17f091a447d89515b4c2bd980318ab4 = L.polyline(
                [[48.4623643, -123.3101324], [48.462268, -123.3102608]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_ade4ce1c95c7ed44ee9d0b853a44f453 = L.polyline(
                [[48.4623643, -123.3101324], [48.4624239, -123.3101437]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_d4acfcb8b673436bd0b1f6d681ad7aa2 = L.polyline(
                [[48.4623643, -123.3101324], [48.46211, -123.3100839]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_0aab51f8be4a0b9168fbf199fd4db33a = L.polyline(
                [[48.4621783, -123.3130681], [48.4623619, -123.3126873]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_a7a8aef14b7bbf628e0cd9f9463265ca = L.polyline(
                [[48.4621783, -123.3130681], [48.4622777, -123.3131239]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_159189b98550a8b89305b918b9ce4593 = L.polyline(
                [[48.4622777, -123.3131239], [48.4622922, -123.3131279]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_4d3f7d7d35ea0de9aac92667dceafd83 = L.polyline(
                [[48.4622777, -123.3131239], [48.4622022, -123.3131119]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_5dd03681c1c5c07574a3ee1384dab6bb = L.polyline(
                [[48.4622777, -123.3131239], [48.4621783, -123.3130681]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_c1c71108de962beea08df53c875bc154 = L.polyline(
                [[48.4623619, -123.3126873], [48.4621783, -123.3130681]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_f1bc3872ccd37898b494293f89179453 = L.polyline(
                [[48.4623619, -123.3126873], [48.4623836, -123.3125238], [48.4624181, -123.312386], [48.4624542, -123.3122718], [48.4624658, -123.3122218]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            var poly_line_132d4766db59f72c54f02536ddaea876 = L.polyline(
                [[48.4623619, -123.3126873], [48.4623249, -123.3130966], [48.4622922, -123.3131279]],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_0feae06c78518155a051a2e484c2c1ad);
        
    
            map_0feae06c78518155a051a2e484c2c1ad.fitBounds(
                [[48.4620999, -123.3139881], [48.463265, -123.3099692]],
                {}
            );
        
</script>
</html>